<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="main-elemento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `main-elemento`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MainElemento extends Polymer.Element {
      static get is() { return 'main-elemento'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'main-elemento'
          }
        };
      }
    }

    window.customElements.define(MainElemento.is, MainElemento);
  </script>
</dom-module>
